$color: rgb(188, 99, 196);
$border-radius: 5px;
.container {
    text-align: center;
    .header {
        display: inline-grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        align-items: center;
        justify-content: center;
        box-shadow: rgba(170, 171, 172, 0.3) 0px 0px 0px 1px;
        margin: 30px 0 35px 0;
        height: 80px;
        h1 {
            font-size: 24px;
        }
        button {
            font-size: 18px;
            height: 40px;
            width: 80px;
            margin: auto;
            background: $color;
            color: white;
            border-radius: $border-radius;
            border: 1px solid $color;
            &.disabled, &:hover {
                opacity: .7;
            }
        }
    }   
    canvas {
        box-shadow: rgba(170, 171, 172, 0.3) 0px 0px 0px 1px;
    }
}